#contentContainer {
  display: block;
  width: 1300px;
  height: 768px;
  position: relative;
  text-align: center;
  margin: auto;
}
.modal-body {
  overflow-y: auto; 
  max-height: 400px;
  height: 330px;
  padding: 15px;
}
#error {
  margin:auto;
  height:500px;
  width:700px;
}
#middle {
  width: 1300px;
  position: relative;
  display: block;
  margin: auto;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
   -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  -khtml-border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  color: black;
}
#logo {
  float: left;
  margin-left: 40px;
  height: 100px;
  width: 219px;
  text-align: left;
  position: relative;
  background-image: url('http://i.imgur.com/aIRpe.jpg');
  background-size: cover;
}
#headContainer {
  display: block;
  width: 1024px;
  height: 100px;
  position: relative;
  text-align: left;
  margin: auto;
  
}
img {
  height:inherit;
}

 button {
  color: white;
  background-color:blue;
  margin-left:10px;
}
p {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 75%;
  line-height: 12px;
  width: 200px;
}
h3 {
  font-size: 15.5px;
  height: 20px;
  display: block;
  margin-bottom: 15px;
  line-height: 18px;
}
.thumbnailContainer {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px;
  -khtml-border-radius: 2px;
  display: block;
  width: 250px;
  border-style: solid;
  height: 300px;
  position: relative;
  float: left;
  margin-left: 20px;
  text-align: center;
  border-color: #F8F8F8;
  background-color: white;
  color: black;
  margin-bottom: 10px;
}
.thumbnail {
  display:block;
  margin:auto;  
  width: 150px;
  height: 100px;
}
.thumbnails {
  margin-left: 15px;
}
.breadcrumb {
  width: 1300px;
  position: relative;
  display: block;
  margin: auto;
}
.label {
  float:left;
}
.columnLeft {
  margin-top:10px;
  color:black;
  display:block;
  float:left;
  width: 200px;
  height: 768px;
}
 
.columnCenter {
  margin-top:10px;
  color: black;
  display: block;
  float: left;
  width: 850px;
  height: 768px;
}
.span2 {
  width:600px;
  float:left;
  display:block;
}
form {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; 
  -khtml-border-radius: 2px; 
  text-align:center;
  height : 50px;
  display: block;
  position: relative;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
  width: 660px;
  height: 30px;
  display: block;
  position: relative;
  float: left;
}
.tab-content {
  overflow: hidden;
  height: 50px;
  width: 660px;
  position: relative;
}
#searchbox {
  display:block;
  width:250px;
  float:left;
  height:30px;
  margin-left:15px;
}
#locationbox {
  display:block;
  width:250px;
  float:left;
  height:30px;
  margin-left:15px;
}
#searchbutton {
  display: block;
  float: left;
  height: 40px;
  margin-left: 20px;
}
.searchContainer {
  float: left;
  position: relative;
  display: block;
  width: 650px;
  height: 50px;
}
.columnRight {
    margin-top:10px;
  color:black;
  display:block;
  float:left;
  width:200px;
  height:2000px;
}
.resultsContainer {
   color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  display: block;
  height: 196px;
  width: 351px;
  float: left;
  background-color: black;
  text-align: left;

}
.resultsContainer .pictureContainer {
   top: 10px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  background-image: url('http://i.imgur.com/DFRu8.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  display: block;
  height: 142px;
  width: 124px;
  margin-left: 10px;
  margin-right: 12px;
  background-color: white;
}
.resultsContainer .textContainer {
  top: 10px;
  color:black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  float: left;
  display: block;
  position: relative;
  height: 145px;
  width: 191px;
  text-align: left;
  background-color: white;
  background-size: cover;
  padding-left: 5px;
}
.resultsContainer .titleContainer {
  color:white;
  float:left;
  margin-left:10px;
  display:block;
  height: 10px;
  width:290px;
  text-align:left;
  position:relative;
}
.buttonRow {
  display:block;
  width:850px;
  float:left;
  
}
.grid { 
  width:1024px;
  display: block;
}
.grid .row {
   overflow: auto;
 }

.grid .cell {
    width: 50%;
    float: left;
}
.resultsContainer .rating {
  color: white;
  float: left;
  margin-left: 10px;
  display: block;
  height: 10px;
  width: 50px;
  text-align: left;
  position: relative;
  padding: 5px;
  top: 5px;
}