#contentContainer {
  display: block;
  width: 1024px;
  height: 768px;
  position: relative;
  text-align: center;
  margin: auto;
}
#logo {
  float: left;
  margin-left: 85px;
  height: 100px;
  width: 219px;
  text-align: left;
  position: relative;
  background-image: url('http://i.imgur.com/aIRpe.jpg');
  background-size: cover;
}
#headContainer {
  display: block;
  width: 1024px;
  height: 100px;
  position: relative;
  text-align: left;
  margin: auto;
  
}
 button {
  color: white;
  background-color:blue;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
h3 {
  font-size: 24.5px;
  height: 20px;
  margin-bottom: 15px;
}
.thumbnailContainer {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 10px; 
  -khtml-border-radius: 2px;
  display:block;
  width: 250px;
  height:300px;
  position:relative;
  float:left;
  margin-left: 20px;
  text-align: center;
  background-color:black;
  color:white;
  margin-bottom: 10px;
}
.thumbnail {
  display:block;
  margin:auto;  
  width: 150px;
  height: 100px;
}
.thumbnails {
  margin-left: 15px;
}
.breadcrumb {
  width: 1000px;
  position: relative;
  display: block;
  margin: auto;
}
.label {
  float:left;
}
.columnLeft {
  margin-top:10px;
  color:black;
  display:block;
  float:left;
  width: 200px;
  height: 768px;
}
 
.columnCenter {
  margin-top:10px;
  color: black;
  display: block;
  float: left;
  width: 600px;
  height: 768px;
}
.span2 {
  width:600px;
  float:left;
  display:block;
}
form {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; 
  -khtml-border-radius: 2px; 
  text-align:center;
  height : 50px;
  display: block;
  top:20px;
  position: relative;
}
#searchbox {
  display:block;
  width:500px;
  float:left;
  height:30px;
  margin-left:15px;
}
#searchbutton {
  display: block;
  float: left;
  height: 40px;
  margin-left: 20px;
}
.searchContainer {
  float: left;
  position: relative;
  display: block;
  width: 611px;
  top: 10px;
  height: 100px;
}
.columnRight {
    margin-top:10px;
  color:black;
  display:block;
  float:left;
  width:200px;
  height:2000px;
}
.resultsContainer {
   color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  display: block;
  height: 196px;
  width: 351px;
  float: left;
  background-color: black;
  text-align: left;

}
.resultsContainer .pictureContainer {
   top: 10px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  background-image: url('http://i.imgur.com/DFRu8.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  display: block;
  height: 142px;
  width: 124px;
  margin-left: 10px;
  margin-right: 12px;
  background-color: white;
}
.resultsContainer .textContainer {
  top: 10px;
  color:black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  float: left;
  display: block;
  position: relative;
  height: 145px;
  width: 191px;
  text-align: left;
  background-color: white;
  background-size: cover;
  padding-left: 5px;
}
.resultsContainer .titleContainer {
  color:white;
  float:left;
  margin-left:10px;
  display:block;
  height: 10px;
  width:290px;
  text-align:left;
  position:relative;
}
.grid { 
  width:1024px;
  display: block;
}
.grid .row {
   overflow: auto;
 }

.grid .cell {
    width: 50%;
    float: left;
}
.resultsContainer .rating {
  color: white;
  float: left;
  margin-left: 10px;
  display: block;
  height: 10px;
  width: 50px;
  text-align: left;
  position: relative;
  padding: 5px;
  top: 5px;
}