#contentContainer {
  display:block;
  width:1400px;
  height:2000px;
  position:relative;
  text-align:center;
  margin:auto;
}
#headContainer {
  display:block;
  width:1400px;
  height:100px;
  position:relative;
  text-align:left;
  margin:auto;
}
.resultsContainer {
   color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  display: block;
  height: 196px;
  width: 351px;
  float: left;
  background-color: black;
  text-align: left;

}
.resultsContainer .pictureContainer {
   top: 10px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  background-image: url('http://i.imgur.com/DFRu8.png');
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  display: block;
  height: 142px;
  width: 124px;
  margin-left: 10px;
  margin-right: 12px;
  background-color: white;
}
.resultsContainer .textContainer {
  top: 10px;
  color:black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  float: left;
  display: block;
  position: relative;
  height: 145px;
  width: 191px;
  text-align: left;
  background-color: white;
  background-size: cover;
  padding-left: 5px;
}
.resultsContainer .titleContainer {
  color:white;
  float:left;
  margin-left:10px;
  display:block;
  height: 10px;
  width:290px;
  text-align:left;
  position:relative;
}
.resultsContainer .rating {
  color: white;
  float: left;
  margin-left: 10px;
  display: block;
  height: 10px;
  width: 50px;
  text-align: left;
  position: relative;
  padding: 5px;
  top: 5px;
}